// 全局化的样式配置

body {
    overflow-x: hidden;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.text-info {
    color: rgba(0, 0, 0, .2);
}

.text-normal {
    color: rgba(0, 0, 0, .4);
}

.text-important {
    color: rgba(0, 0, 0, .6);
}