// 全局化的样式配置
@info: rgba(0, 0, 0, .2);
@normal: rgba(0, 0, 0, .4);
@important: rgba(0, 0, 0, .8);

body {
    overflow-x: hidden;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.text-info {
    color: @info;
}

.text-normal {
    color: @normal;
}

.text-important {
    color: @important;
}