body {
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.6);
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.text-info {
  color: rgba(0, 0, 0, 0.2);
}
.text-important {
  color: rgba(0, 0, 0, 0.8);
}
.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
}
