.box-content {
    margin-top: .125rem;
    // &:first-child {
    //     position: fixed;
    //     width: 100%;
    //     margin-top: .35rem;
    // }
    .divider {
        // margin-left: -.5rem;
        width: 100%;
        // color: rgba(0, 0, 0, .005);
        // height: .01px;
    }
    h2 {
        display: inline-block;
        margin-right: .4rem; 
    }
}